{% set navItems = [
  {
    title: "Our story",
    href: "/about"
  },
  {
    title: "Our workshops",
    href: "/whatweoffer"
  },
  {
    title: "What's on",
    href: "/events"
  },
  {
    title: "Gallery",
    href: "/gallery"
  },
  {
    title: "Partners",
    href: "/partnerspress"
  },
  {
    title: "Contact",
    href: "/contact"
  },
  {
    title: "News",
    href: "https://www.bn1magazine.co.uk/femigami-embrace-your-body-through-the-art-of-paperfolding/",
    external: true
  }
] %}

{% set socialItems = [
  {
    title: "facebook",
    href: "https://www.facebook.com/femigami",
    glyph: "F"
  },
  {
    title: "instagram",
    href: "http://www.instagram.com/femigami",
    glyph: "I"
  },
  {
    title: "tiktok",
    href: "https://www.tiktok.com/@femigami_?",
    glyph: "T"
  }
] %}

<div class="main-nav">
  <nav role="navigation" aria-label="site navigation" class="main-nav__site-nav">
    
    <div class="site-nav__logo">
      <a href="/">
        <image src="/images/femigami-logo-sm.png" />
      </a>
    </div>

    <div class="site-nav__hamburger js-expandable" tabindex="0" role="button" type="button" aria-label="menu toggle" class="js-expandable">
      <div class="hamburger__inner">
        <div></div>
      </div>
    </div>

    <ol>
      {% for item in navItems %}
        
        <li class="site-nav__link">
          <a href="{{item.href}}"{% if item.external %} target="_blank"{% endif %}>
            {{item.title}}
          </a>
        </li>
      {% endfor %}
    </ol>
  </nav>

  <nav role="navigation" aria-label="social links" class="main-nav__social-nav">
    <ol>
      {% for item in socialItems %}
        <li class="social-nav__link">
          <a href="{{item.href}}" target="_blank">
            {{item.glyph}}
          </a>
        </li>
      {% endfor %}
    </ol>
  </nav>
</div>