<!doctype html>
<html lang="en">
  <head>
    {% include "includes/metatags.njk" %}
    
    {# Adds the js class to the html root before the style sheet is loaded #}
    <script>document.documentElement.classList='js'</script>

    {# Stylesheets #}
    <link rel="stylesheet" href="css/styles.css">

    {# Google fonts #}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Source+Code+Pro:wght@300;400;600&display=swap" rel="stylesheet">

    {# Scripts #}
    {% block scripts %}{# For site level scripts #}
      <script defer src="js/site.js"></script>

      {% block extraScripts %}{% endblock %}{# For page level scripts #}
    {% endblock %}
  </head>

  <body>
      
    <header class="wrapper">
      {% include "includes/main-nav.njk" %}
    </header>

    <main class="content">
      <div class="wrapper">

        <h1>{{h1}}</h1>
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer></footer>

  </body>
</html>