<!doctype html>
<html lang="en">
  <head>
    {% include "includes/metatags.njk" %}
    
    {# Adds the js class to the html root before the style sheet is loaded #}
    <script>document.documentElement.classList='js'</script>

    {% block scripts %}{# For site level scripts #}
      <script src="js/test.js"></script>

      {% block extraScripts %}{% endblock %}{# For page level scripts #}

    {% endblock %}

    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body>
      
    <header>
      {% include "includes/main-nav.njk" %}
    </header>
    

    <main class="content">
      <div class="brick">
        <h1>{{h1}}</h1>
        {% block content %}{% endblock %}
      </div>
    </main>

    <footer></footer>

  </body>
</html>