// Fonts
$headingFont: 'Abel', sans-serif;
$bodyFont: 'Source Code Pro', monospace;

// Colours
$brandColor1: #f60ea1;

$darkFontColor: #000;
$lightFontColor: #fff;


// Misc
$transitionTime: .8s;

// Breakpoints
$mobile: 900px;