.site-nav__hamburger {
  display: none;
  margin-left: auto;


  @media screen and (max-width: 900px) {
    display: block;
  }

  .hamburger__inner {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #fff;
    border: none;
  
    > div {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 34px;
      height: 4px;
      background-color: $darkFontColor;
      transform: translate(-50%,-50%);
      border-radius: 3px;
  
      &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        width: 34px;
        height: 4px;
        background-color: $darkFontColor;
        border-radius: 3px;
      }
  
      &:before {
        transform: translateY(-10px);
        animation: burger3 250ms linear;
      }
  
      @keyframes burger3 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(-10px) rotate(0deg); }
      }
  
      &:after {
        transform: translateY(10px);
        animation: burger4 250ms linear;
      }
  
      @keyframes burger4 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(10px) rotate(0deg); }
      }
    }
  }

  html:not(.js) &:focus .hamburger__inner,
  &[aria-expanded="true"] .hamburger__inner {
    > div {
      visibility: hidden;
  
      &:before, &:after {
        visibility: visible;
        background-color: $darkFontColor;
        transform-origin: center center;
        transform: translateY(0);
        transition: all 250ms linear;
      }
  
      &:before {
        transform: rotate(-45deg);
        animation: burger1 250ms linear;
      }
  
      @keyframes burger1 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(0) rotate(-45deg); }
      }
  
      &:after {
        transform: rotate(45deg);
        animation: burger2 250ms linear;
      }
  
      @keyframes burger2 {
        0%   { transform: translateY(0); }
        50%  { transform: translateY(0); }
        100% { transform: translateY(0) rotate(45deg); }
      }
    }
  }
}





