.hero-banner {
  padding: 40px 0 40px 0;
  background-image: url('/images/hero-homepage.jpg');
  background-size: cover;
  color: $lightFontColor;
  text-shadow: 0px 0px 2px #000000, 0px 0px 2px #000000;
}