.main-nav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: $gauge;

  ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
}

.main-nav__item--link {
  padding: $gauge;
}

ul.main-nav__social-nav {
  margin-left: auto;
}

.main-nav__item--social-link {
  font-family: social-icons
}