@font-face {
	font-family: 'social-icons';
	src:url('/fonts/social-icons.eot');
	src:url('/fonts/social-icons.eot?#iefix') format('embedded-opentype'),
		url('/fonts/social-icons.woff') format('woff'),
		url('/fonts/social-icons.ttf') format('truetype'),
		url('/fonts/social-icons.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}